*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box{
    background: rgba(255,255,255,0.1);
    padding: 35px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    color: white;
}

.register-box h2{
    text-align: center;
    margin-bottom: 20px;
    color: #4fc3f7;
}

.register-box label{
    display: block;
    margin-top: 12px;
    font-size: 14px;
}

.register-box input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
}

.register-box button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #4fc3f7;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.register-box button:hover{
    background: #29b6f6;
}
