body {
    background: #f2f7fd;
    font-family: Arial;
}

.box {
    width: 600px;
    margin: 80px auto;
    background: white;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}
